<header th:fragment="header">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/accueil}">
      Accueil
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">LogOut</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/categories}">Categories</a>
        </li>
        <li class="nav-item" th:if="${#authorization.expression('!hasRole(''ROLE_USER'')')}">
          <a class="nav-link" th:href="@{/categories/new}">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/produits}">Produits</a>
        </li>
        <li class="nav-item" th:if="${#authorization.expression('!hasRole(''ROLE_USER'')')}">
          <a class="nav-link" th:href="@{/produits/new}">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/stocks}">Stocks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/stocks/new}">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/stockHistoriques}">Historiques</a>
        </li>
        <li class="nav-item" th:if="${#authorization.expression('!hasRole(''ROLE_USER'')')}">
          <a class="nav-link" th:href="@{/users}">Utilisateurs</a>
        </li>
        <li class="nav-item" th:if="${#authorization.expression('!hasRole(''ROLE_USER'')')}">
          <a class="nav-link" th:href="@{/users/new}">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/frigos}">Frigos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/frigos/new}">Add</a>
        </li>
      </ul>
    </div>
  </nav>
</header>