<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>projet gestion de stock restaurant</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">Historiques Stock</h2>
    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="my-3">
        <form th:action="@{/stockHistoriques}">
            <table class="table table-hover table-responsive-xl">
                <thead class="thead-light">
                <tr>
                    <th>Id Stock</th>

                    <th>login</th>

                    <th>Date d'action</th>
                    <th>Type d'action</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <tbody>
                <!-- Pour chaque StockHistorique dans la liste, créer une ligne dans le tableau -->
                <tr th:each="stockHistorique : ${stockHistoriques}">
                    <td th:text="${stockHistorique.stock.getIdStock()}"></td>

                    <td th:text="${stockHistorique.stock.user.getEmail()}"></td>

                    <td th:text="${stockHistorique.dateAction}"></td>
                    <td th:text="${stockHistorique.typeAction}"></td>
                    <td th:text="${stockHistorique.statut}"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>